.sonar
*_valid.html
*_invalid.html
\.coverage
test_steps.json
*.pyc
*.sqlite3
*.swp
*.swo
*.db
local_settings.py
*.db
*.sqlite
tags
composer.lock
.AppleDouble
:2e_*
._*
.DS_Store
.idea*
/reports/*
/bdd/vendor/*
/bdd/results/*
/media/*
/static/*
/log/*.log
/MANIFEST
/build
/dist
/dateutil
/django
/djangoappengine
/djangotoolbox
/pyactiveresource
/shopify
/socialregistration
